[submodule "static/library"]
	path = static/library
	url = https://github.com/codeva-curriculum/library
[submodule "static/standards"]
	path = static/standards
	url = https://github.com/codeva-curriculum/standards
