/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
body { height: 100vh; }

.number-pill {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 24px;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    float: right;
    margin-right: 1.5rem;
    font-size: 10pt;
}
.nsf-disclaimer, .supporter-disclaimer {
    display: flex;
    .img-wrap {
        width: 200px;
        justify-content: center;
        padding-right: 1rem;
    }
    .text {
        flex-grow: 2;
        font-size: 10pt;
        justify-content: center;
    }
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 1rem 1rem;
}

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

@import "@creativebulma/bulma-tooltip/src/sass/index.sass"
